@using DAL.Models
@model ShowViewModel

@{
    ViewData["Title"] = "EditOrder";
}

<script>
    function addRow(tableID) {
        let tableRef = document.getElementById(tableID);
        let newRow = tableRef.insertRow(tableRef.rows.length - 1);
        console.log(tableRef.rows.length - 1);

        for (let i = 0; i < 4; i++) {
            let newCell = newRow.insertCell(i);

            let newInput;
            if (i == 3) {
                newInput = document.createElement("a");
                let tempOnClick = "deleteRow('" + tableID + "', " + (tableRef.rows.length - 2) + ")";
                newInput.onclick = tempOnClick;
                newInput.href = "#";
                newInput.text = "X";
            } else {
                newInput = document.createElement("input");
            }

            newCell.appendChild(newInput);
        }
    };

    function deleteRow(tableID, rowNum) {
        console.log("tries to delete row... " + rowNum + " on tableName: " + tableID);
        let tableRef = document.getElementById(tableID);
        tableRef.deleteRow(rowNum);
    }
</script>

<h1>Edit Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Number</label>
                <input class="form-control" value="@Model.Number" name="Number" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input type="datetime" class="form-control" value="@Model.Date" name="Date" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Provider</label>
                <select size="1" class="form-control" name="Provider">
                    @foreach (Provider provider in ViewBag.Providers)
                    {
                        if (provider.Name == Model.Provider)
                        {
                            <option selected>@provider.Name</option>
                        }
                        else
                        {
                            <option>@provider.Name</option>
                        }
                    }
                </select>
                <span class="text-danger"></span>
            </div>

            <table class="table" id="order_items_table">
                <tr>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
                @{ int index = 0; }
                @foreach (var orderItem in Model.OrderItems)
                {
                    <tr>
                        <td><input value="@orderItem.Name" /></td>
                        <td><input value="@orderItem.Unit" /></td>
                        <td><input value="@orderItem.Quantity" /></td>
                        <td><a onclick="deleteRow('order_items_table', )" href="#">X</a></td>
                    </tr>
                    index++;
                }
                <tr>
                    <td>
                        <a href="#" onclick="addRow('order_items_table')">+</a>
                    </td>
                </tr>
            </table>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
