@using DAL.Models
@model ShowViewModel

@{
    ViewData["Title"] = "EditOrder";
}

<h1>Edit Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Number</label>
                <input class="form-control" value="@Model.Number" name="Number" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input type="datetime" class="form-control" value="@Model.Date" name="Date" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Provider</label>
                <select size="1" class="form-control" name="Provider">
                    @foreach (Provider provider in ViewBag.Providers)
                    {
                        if (provider.Name == Model.Provider)
                        {
                            <option selected>@provider.Name</option>
                        }
                        else
                        {
                            <option>@provider.Name</option>
                        }
                    }
                </select>
                <span class="text-danger"></span>
            </div>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
                @foreach (var orderItem in Model.OrderItems)
                {
                    <tr>
                        <td><input value="@orderItem.Name" /> @orderItem.Name</td>
                        <td>@orderItem.Unit</td>
                        <td>@orderItem.Quantity</td>
                        <td><a href="~/Home/OrderItem/Delete/@orderItem.Id">X</a></td>
                    </tr>
                }
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
